!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{:src => "https://cdn.shopify.com/s/assets/external/app.js"}
    :javascript
      ShopifyApp.init({
        apiKey: "#{SinatraApp.settings.api_key}",
        shopOrigin: "#{current_shop_url}",
        debug: true
      });
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", :rel => "stylesheet"}/
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  %body
    .container
      :javascript
        window.mainPageTitle = 'Customerize Your Offer';
        ShopifyApp.ready(function(){
          ShopifyApp.Bar.initialize({
            title: window.mainPageTitle,
            icon: "#{base_url}/icon.png",
            buttons: {
              primary: {
                label: "Save",
                message: 'save-setting'
              },
              secondary: [
              {
                label: "Read Me First",
                href: "/readme",
                target: 'app'
              },
              {
                label: "Help",
                href: "/help",
                target: 'app'
              }
              ]
            }
          });
        });
      - if flash[:notice]
        :javascript
          console.log("Notice");
          ShopifyApp.ready(function(){
            ShopifyApp.flashNotice("#{flash[:notice]}");
          });
      - if flash[:error]
        :javascript
          console.log("error");
          ShopifyApp.ready(function(){
            ShopifyApp.flashNotice("#{flash[:error]}");
          });
      = yield
